{% from 'macros.html' import sd_card_full_modal -%}
{% from 'macros.html' import sd_card_full_modal_javascript -%}
{% from 'macros.html' import battery_discharged_modal -%}
{% from 'macros.html' import battery_discharged_modal_javascript -%}
{% from 'macros.html' import ask_modal -%}
{% from 'macros.html' import wait_modal -%}
{% extends 'base.html' %}
{% block head -%}
    <title>Entomoscope - Home</title>
{%- endblock -%}
{%- block content %}
<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Entomoscope</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('data') }}">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('storage') }}">Storage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('global_settings') }}">Capture Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('images_capture_settings') }}">Images Capture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('sounds_capture_settings') }}">Sounds Capture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('information') }}">Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logs') }}">Logs</a>
        </li>
      </ul>
    </div>
    <div class="nav pull-right">
        <!-- Update available -->
        {% if updates_available %}
        <button class="btn btn-success me-2" style="pointer-events: none" id="updateNavBar"><i class="bi bi-cloud-download"></i>
            Update available
        </button>
        {% endif %}
        <!-- SD card usage -->
        {% if sd_card.used_percent_num < 80 %}
        <button class="btn btn-success me-2" style="pointer-events: none" id="sdCardNavBar"><i class="bi bi-sd-card" id="sdCardI"></i>
        {% elif sd_card.used_percent_num < 90 %}
        <button class="btn btn-warning me-2" style="pointer-events: none" id="sdCardNavBar"><i class="bi bi-sd-card" id="sdCardI"></i>
        {% else %}
        <button class="btn btn-danger me-2" style="pointer-events: none" id="sdCardNavBar"><i class="bi bi-sd-card-fill" id="sdCardI"></i>
        {% endif %}
             <span class="d-none d-sm-inline" id="sdCardUsageSpan">{{ '%.0f' % sd_card.used_percent_num }} %</span>
        </button>
        <!-- Battery level -->
        {% if battery_level > 0 %}
            {% if battery_level > 11.5 %}
            <button class="btn btn-success me-2" style="pointer-events: none" id="batteryLevelNavBar"><i class="bi bi-battery-full" id="batteryLevelI"></i>
            {% elif battery_level > 10.8 %}
            <button class="btn btn-warning me-2" style="pointer-events: none" id="batteryLevelNavBar"><i class="bi bi-battery-half" id="batteryLevelI"></i>
            {% else %}
            <button class="btn btn-danger me-2" style="pointer-events: none" id="batteryLevelNavBar"><i class="bi bi-battery-low" id="batteryLevelI"></i>
            {% endif %}
                 <span class="d-none d-sm-inline" id="batteryLevelSpan">{{ '%.1f' % battery_level }} V</span>
            </button>
        {% endif %}
        <!-- CPU Temperature -->
        {% if rpi.cpu_temperature < 65 %}
        <button class="btn btn-success me-2" style="pointer-events: none" id="cpuTempNavBar"><i class="bi bi-cpu"></i>
        {% elif rpi.cpu_temperature < 75 %}
        <button class="btn btn-warning me-2" style="pointer-events: none" id="cpuTempNavBar"><i class="bi bi-cpu"></i>
        {% else %}
        <button class="btn btn-danger me-2" style="pointer-events: none" id="cpuTempNavBar"><i class="bi bi-cpu"></i>
        {% endif %}
            <span class="d-none d-sm-inline" id="cpuTemperatureSpan">{{ '%.0f' % rpi.cpu_temperature }} &deg;C</span>
        </button>
        <!-- Reboot -->
        <button class="btn btn-light me-2" id="updateNavBar" onclick="reboot()"><i class="bi bi-bootstrap-reboot"></i></button>
        <!-- Shutdown -->
        <button class="btn btn-danger" id="updateNavBar" onclick="shutdown()"><i class="bi bi-power"></i></button>
    </div>
  </div>
</nav>
<!-- Page content -->
<div class="container-fluid text-center">
    <h2 class="text-center mt-3">Current captures states</h2>
    <div class="row">
        {% if images_capture_state == 'stopped' %}
        <div class="col-6 text-end"><span class="badge bg-gradient text-bg-danger">Images stopped</span></div>
        {% elif images_capture_state == 'paused'%}
        <div class="col-6 text-end"><span class="badge bg-gradient text-bg-warning">Images paused</span></div>
        {% else %}
        <div class="col-6 text-end"><span class="badge bg-gradient text-bg-success">Images running</span></div>
        {% endif %}
        {% if sounds_capture_state == 'stopped' %}
        <div class="col-6 text-start"><span class="badge bg-gradient text-bg-danger">Sounds stopped</span></div>
        {% elif sounds_capture_state == 'paused'%}
        <div class="col-6 text-start"><span class="badge bg-gradient text-bg-warning">Sounds paused</span></div>
        {% else %}
        <div class="col-6 text-start"><span class="badge bg-gradient text-bg-success">Sounds running</span></div>
        {% endif %}
    </div>
    <h2 class="text-center mt-3">Captures parameters</h2>
    <div class="row">
        {% if configuration['site']['id'] %}
        <div class="col-6 text-end"><span class="badge bg-gradient text-bg-primary">Site ID: {{configuration['site']['id']}}</span></div>
        {% else %}
        <div class="col-6 text-end"><span class="badge bg-gradient text-bg-danger">Site ID:</span></div>
        {% endif %}
        {% if configuration['ai_detection']['enable'] %}
        <div class="col-6 text-start"><span class="badge bg-gradient text-bg-primary">AI enabled</span></div>
        {% else %}
        <div class="col-6 text-start"><span class="badge bg-gradient text-bg-danger">AI disabled</span></div>
        {% endif %}
    </div>
    <div class="row">
        {% if configuration['images_capture']['enable'] %}
        <div class="col-6 text-end"><span class="badge bg-gradient text-bg-primary">Images step: {{configuration['images_capture']['time_step']}} seconds</span></div>
        {% else %}
        <div class="col-6 text-start"><span class="badge bg-gradient text-bg-danger">Images disabled</span></div>
        {% endif %}
        <div class="col-6 text-start"><span class="badge bg-gradient text-bg-primary">On duration: {{configuration['schedule']['on_duration']}} seconds</span></div>
    </div>
    <div class="row">
        {% if configuration['sounds_capture']['enable'] %}
        <div class="col-6 text-end"><span class="badge bg-gradient text-bg-primary">Sounds duration: {{configuration['sounds_capture']['duration']}} seconds</span></div>
        {% else %}
        <div class="col-6 text-end"><span class="badge bg-gradient text-bg-danger">Sounds disabled</span></div>
        {% endif %}
        <div class="col-6 text-start"><span class="badge bg-gradient text-bg-primary">Off duration: {{configuration['schedule']['off_duration']}} seconds</span></div>
    </div>
    <div class="row">
        {% if configuration['leds']['delay_on'] > 0 %}
        <div class="col-6 text-end"><span class="badge bg-gradient text-bg-primary">LEDs delay on: {{configuration['leds']['delay_on']}} seconds</span></div>
        {% endif %}
        {% if configuration['leds']['always_on'] %}
        <div class="col-6 text-start"><span class="badge bg-gradient text-bg-primary">LEDs always on</span></div>
        {% endif %}
        {% if configuration['leds']['delay_off'] > 0 %}
        <div class="col-6 text-start"><span class="badge bg-gradient text-bg-primary">LEDs delay off: {{configuration['leds']['delay_off']}} seconds</span></div>
        {% endif %}
    </div>
    <h2 class="text-center mt-3">Scheduler</h2>
    <div class="row">
        <div class="col-3 text-end d-sm-none d-inline"><span class="badge bg-gradient text-bg-info rounded-0" style="width:100%;font-size: 0.65em">Images</span></div>
        <div class="col-3 text-end d-sm-none d-inline"><span class="badge bg-gradient text-bg-success rounded-0" style="width:100%;font-size: 0.65em">Images + AI</span></div>
        <div class="col-3 text-center d-sm-none d-inline"><span class="badge bg-gradient text-bg-warning rounded-0" style="width:100%;font-size: 0.65em">Sounds</span></div>
        <div class="col-3 text-start d-sm-none d-inline"><span class="badge bg-gradient text-bg-light rounded-0" style="width:100%;font-size: 0.65em">Sleep</span></div>
    </div>
    <div class="row align-items-start">
    {% for day, images_schedule, images_s_day, images_color, sounds_schedule, sounds_day, sounds_color in zip(days, images_capture['schedules'], images_capture['s_days'], images_capture['colors'], sounds_capture['schedules'], sounds_capture['s_days'], sounds_capture['colors']) %}
        {% if loop.index0 == 0 or loop.index0 == 7 or loop.index0 == 14 %}
        <div class="card-group mt-3">
        {% endif %}
            {% if loop.index0 == 0 %}
            <div class="card border-secondary">
            {% else %}
            <div class="card">
            {% endif %}
                <div class="card-header text-center fs-6">
                    {{ day }}
                </div>
                <div class="card-body" style="padding-left: 0;padding-right: 0;padding-bottom: 0">
                    <div class="progress custom-progress rounded-0">
                        {% if images_color[0] != 0 or images_color[1] != 0 or images_color[2] != 0 %}
                            {% if images_color[0] == 0 %}
                                <div class="progress-bar bg-gradient bg-light" role="progressbar" style="width: {{ images_schedule[0] }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            {% else %}
                                {% if configuration['ai_detection']['enable'] %}
                                <div class="progress-bar bg-gradient bg-success" role="progressbar" style="width: {{ images_schedule[0] }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                {% else %}
                                <div class="progress-bar bg-gradient bg-info" role="progressbar" style="width: {{ images_schedule[0] }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                {% endif %}
                            {% endif %}
                            {% if images_color[1] == 0 %}
                                <div class="progress-bar bg-gradient bg-light" role="progressbar" style="width: {{ images_schedule[1] }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            {% else %}
                                {% if configuration['ai_detection']['enable'] %}
                                    <div class="progress-bar bg-gradient bg-success" role="progressbar" style="width: {{ images_schedule[1] }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                {% else %}
                                    <div class="progress-bar bg-gradient bg-info" role="progressbar" style="width: {{ images_schedule[1] }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                {% endif %}
                            {% endif %}
                            {% if images_color[2] == 0 %}
                                <div class="progress-bar bg-gradient bg-light" role="progressbar" style="width: {{ images_schedule[2] }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            {% else %}
                                {% if configuration['ai_detection']['enable'] %}
                                    <div class="progress-bar bg-gradient bg-success" role="progressbar" style="width: {{ images_schedule[2] }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                {% else %}
                                    <div class="progress-bar bg-gradient bg-info" role="progressbar" style="width: {{ images_schedule[2] }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <div class="progress-bar bg-gradient bg-light" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        {% endif %}
                    </div>
                    <div class="progress custom-progress rounded-0 mt-1">
                        {% if sounds_color[0] != 0 or sounds_color[1] != 0 or sounds_color[2] != 0 %}
                            {% if sounds_color[0] == 0 %}
                                <div class="progress-bar bg-gradient bg-light " role="progressbar" style="width: {{ sounds_schedule[0] }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            {% else %}
                                <div class="progress-bar bg-gradient bg-warning" role="progressbar" style="width: {{ sounds_schedule[0] }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            {% endif %}
                            {% if sounds_color[1] == 0 %}
                                <div class="progress-bar bg-gradient bg-light" role="progressbar" style="width: {{ sounds_schedule[1] }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            {% else %}
                                <div class="progress-bar bg-gradient bg-warning" role="progressbar" style="width: {{ sounds_schedule[1] }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            {% endif %}
                            {% if sounds_color[2] == 0 %}
                                <div class="progress-bar bg-gradient bg-light" role="progressbar" style="width: {{ sounds_schedule[2] }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            {% else %}
                                <div class="progress-bar bg-gradient bg-warning" role="progressbar" style="width: {{ sounds_schedule[2] }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            {% endif %}
                        {% else %}
                            <div class="progress-bar bg-gradient bg-light" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        {% endif %}
                    </div>
                    <div class="container-fluid text-center">
                        <div class="row align-items-center">
                            <div class="col">
                                <p class="text-muted mt-0 mb-0" style="font-size: 0.45em">|</p>
                                <p class="text-muted mt-0 mb-1" style="font-size: 0.45em">04:00</p>
                            </div>
                            <div class="col">
                                <p class="text-center text-muted mt-0 mb-0" style="font-size: 0.45em">|</p>
                                <p class="text-center text-muted mt-0 mb-1" style="font-size: 0.45em">12:00</p>
                            </div>
                            <div class="col">
                                <p class="text-center text-muted mt-0 mb-0" style="font-size: 0.45em">|</p>
                                <p class="text-center text-muted mt-0 mb-1" style="font-size: 0.45em">20:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% if loop.index0 == 6 or loop.index0 == 13 or loop.last %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="row mt-2 mb-3">
        <div class="col-3 text-end"><span class="badge bg-gradient text-bg-info rounded-0" style="width:100%;font-size: 0.65em">Images</span></div>
        <div class="col-3 text-end"><span class="badge bg-gradient text-bg-success rounded-0" style="width:100%;font-size: 0.65em">Images + AI</span></div>
        <div class="col-3 text-center"><span class="badge bg-gradient text-bg-warning rounded-0" style="width:100%;font-size: 0.65em">Sounds</span></div>
        <div class="col-3 text-start"><span class="badge bg-gradient text-bg-light rounded-0" style="width:100%;font-size: 0.65em">Sleep</span></div>
    </div>
</div>
<!-- Modals dialog -->
{{ wait_modal() }}
{{ ask_modal() }}
{{ sd_card_full_modal(sd_card) }}
{{ battery_discharged_modal(battery_level) }}
{% endblock %}
{% block script %}
<script type="text/javascript">

    const sdCardUsageSpan = document.getElementById('sdCardUsageSpan');
    const sdCardI = document.getElementById('sdCardI');
    const batteryLevelSpan = document.getElementById('batteryLevelSpan');
    const batteryLevelI = document.getElementById('batteryLevelI');
    const cpuTemperatureSpan = document.getElementById('cpuTemperatureSpan');

    const askModalDialog = document.getElementById('askModalDialog');
    var askModal = new bootstrap.Modal(askModalDialog)
    const askTitle = document.getElementById('askTitle');
    const askParagraph = document.getElementById('askParagraph');

    var powerAction = null

    document.addEventListener("DOMContentLoaded", function() {

        {{ sd_card_full_modal_javascript(sd_card) }}
        {{ battery_discharged_modal_javascript(battery_level) }}

        //var socket = io();
        //socket.on('connect', function() {
            //socket.send('User has connected!');
        //});

    })

    function reboot() {

        powerAction = 'reboot'

        askTitle.innerText = 'Reboot'
        askParagraph.innerText = 'Do you really want to reboot?'

        askModal.show()

    }

    function shutdown() {

        powerAction = 'shutdown'

        askTitle.innerText = 'Shutdown'
        askParagraph.innerText = 'Do you really want to shutdown?'

        askModal.show()

    }

    function actionOk() {

        askModal.hide()

        if (powerAction == 'reboot') {
            return fetch('/reboot', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(name),
            })
            .catch(error => {
                console.error('Error reboot: ', error);
                throw error;  // Re-throw the error for the next catch
            });
        }
        else if (powerAction == 'shutdown') {
            return fetch('/shutdown', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(name),
            })
            .catch(error => {
                console.error('Error shutdown: ', error);
                throw error;  // Re-throw the error for the next catch
            });
        }
    }

    function getCpuTemperature() {

        const cpuTempNavBar = document.getElementById('cpuTempNavBar')

        return fetch('/get_cpu_temperature', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: '',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                if (data.temperature >= 75) {
                    cpuTempNavBar.className = "btn btn-danger me-2"
                } else if (data.temperature >= 65) {
                    cpuTempNavBar.className = "btn btn-warning me-2"
                } else {
                    cpuTempNavBar.className = "btn btn-success me-2"
                }
                cpuTemperatureSpan.innerHTML = data.temperature.toFixed(0) + ' &degC'
            }
        })
        .catch(error => {
        console.error('Error getting CPU temperature:', error);
        throw error;  // Re-throw the error for the next catch
        });

    }

    function getBatteryLevel() {

        const batteryLevelNavBar = document.getElementById('batteryLevelNavBar');

        return fetch('/get_battery_level', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: '',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                if (data.battery_level > 0) {
                    if (data.battery_level > 11.5) {
                        batteryLevelNavBar.className = "btn btn-success me-2"
                        batteryLevelI.className = "bi bi-battery-full"
                    } else if (data.battery_level > 10.8) {
                        batteryLevelNavBar.className = "btn btn-warning me-2"
                        batteryLevelI.className = "bi bi-battery-half"
                    } else {
                        batteryLevelNavBar.className = "btn btn-danger me-2"
                        batteryLevelI.className = "bi bi-battery-low"
                    }
                    batteryLevelSpan.innerHTML = data.battery_level.toFixed(1) + ' V'
                }
            }
        })
        .catch(error => {
            console.error('Error getting battery level:', error);
            throw error;  // Re-throw the error for the next catch
        });

    }

    function getSdCardUsage() {

        const sdCardNavBar = document.getElementById('sdCardNavBar');

        return fetch('/get_sd_card_usage', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: '',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                if (data.sd_card_usage < 80) {
                    sdCardNavBar.className = "btn btn-success me-2"
                } else if (data.sd_card_usage < 90) {
                    sdCardNavBar.className = "btn btn-warning me-2"
                    sdCardI.className = "bi bi-sd-card"
                } else {
                    sdCardNavBar.className = "btn btn-danger me-2"
                    sdCardI.className = "bi bi-sd-card-fill"
                }
                sdCardUsageSpan.innerHTML = data.sd_card_usage.toFixed(0) + ' %'
            }
        })
        .catch(error => {
            console.error('Error getting SD card usage:', error);
            throw error;  // Re-throw the error for the next catch
        });

    }

    var intervalId = setInterval(function() {
        getCpuTemperature()
    }, 10000);

    var intervalId2 = setInterval(function() {
        getBatteryLevel()
    }, 60000);

    var intervalId3 = setInterval(function() {
        getSdCardUsage()
    }, 60000);

</script>
{% endblock %}
