{% from 'macros.html' import nav_item -%}
{% from 'macros.html' import nav_pull_right -%}
{% from 'macros.html' import sd_card_full_modal -%}
{% from 'macros.html' import sd_card_full_modal_javascript -%}
{% from 'macros.html' import battery_discharged_modal -%}
{% from 'macros.html' import battery_discharged_modal_javascript -%}
{% from 'macros.html' import ask_modal -%}
{% from 'macros.html' import wait_modal -%}
{% from 'macros.html' import reboot_javascript -%}
{% from 'macros.html' import shutdown_javascript -%}
{% extends 'base.html' %}
{% block head -%}
    <title>Entomoscope - Logs</title>
{%- endblock -%}
{%- block content %}
<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Entomoscope</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
{{ nav_item('logs', updates_available) }}
    </div>
{{ nav_pull_right(updates_available, sd_card, battery_level, rpi) }}
  </div>
</nav>
<!-- Page content -->
<div class="container-fluid">
  <div class="row align-items-start mt-3">
    <!-- Logs -->
    <div class="col-3">
        {% if istopdir == false %}
        <div class="row">
            <div class="col-2">
                <div class="button-group">
                    <a href="/manage_logs/export/folder"><button type="button" class="btn btn-light position-relative me-3">
                    <i class="bi bi-upload fs-6"></i>
                    Export</button></a>
                </div>
            </div>
        </div>
        <hr/>
        {% endif %}
        <div class="row">
            <div class="col-2">
                <!-- File - List -->
                <ul>
                {% if istopdir == false %}
                    <li class="data_levelup"><a href="/manage_logs/chdir/up">..</a></li>
                {% endif %}
                {% for file, isdir in zip(files, isdirs) %}
                    {% if isdir %}
                        <li class="data_folder"><a href="/manage_logs/chdir/{{ file }}" class="data_folder">{{ file }}</a></li>
                    {% else %}
                        {% if file == logs_current_file %}
                            <li class="data_file"><a href="/manage_logs/show/{{ file }}" class="data_file" style="font-weight: bold">{{ file }}</a></li>
                        {% else %}
                            <li class="data_file"><a href="/manage_logs/show/{{ file }}" class="data_file">{{ file }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- File content -->
    <div class="col-9 offset-3 mb-3" style="position: fixed;height:90%;overflow-y:auto;">
        {% if current_file %}
            <h1 class="text-center">{{ current_file }}</h1>
        {% endif %}
        {% if show_preview_log %}
            <pre style="background-color: #EFF6FF">
<code>{{ log_data }}</code> <!-- Ne pas indenter -->
            </pre>
        {% endif %}
    </div>
  </div>
</div>
<!-- Modals dialog -->
{{ wait_modal() }}
{{ ask_modal() }}
{{ sd_card_full_modal(sd_card) }}
{{ battery_discharged_modal(battery_level) }}
{% endblock %}
{% block script %}
<script type="text/javascript">

    const sdCardUsageSpan = document.getElementById('sdCardUsageSpan');
    const sdCardI = document.getElementById('sdCardI');
    const batteryLevelSpan = document.getElementById('batteryLevelSpan');
    const batteryLevelI = document.getElementById('batteryLevelI');
    const cpuTemperatureSpan = document.getElementById('cpuTemperatureSpan');

    const askModalDialog = document.getElementById('askModalDialog');
    const askTitle = document.getElementById('askTitle');
    const askParagraph = document.getElementById('askParagraph');

    var askModal = new bootstrap.Modal(askModalDialog)

    var powerAction = null

    document.addEventListener("DOMContentLoaded", function() {

        {{ sd_card_full_modal_javascript(sd_card) }}
        {{ battery_discharged_modal_javascript(battery_level) }}

    })

    {{ reboot_javascript() }}

    {{ shutdown_javascript() }}

    function actionOk() {

        askModal.hide()

        if (powerAction == 'reboot') {
            return fetch('/reboot', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(name),
            })
            .catch(error => {
                console.error('Error reboot: ', error);
                throw error;  // Re-throw the error for the next catch
            });
        }
        else if (powerAction == 'shutdown') {
            return fetch('/shutdown', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(name),
            })
            .catch(error => {
                console.error('Error shutdown: ', error);
                throw error;  // Re-throw the error for the next catch
            });
        }
    }

    function getCpuTemperature() {

        const cpuTempNavBar = document.getElementById('cpuTempNavBar')

        return fetch('/get_cpu_temperature', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: '',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                if (data.temperature >= 75) {
                    cpuTempNavBar.className = "btn btn-danger me-2"
                } else if (data.temperature >= 65) {
                    cpuTempNavBar.className = "btn btn-warning me-2"
                } else {
                    cpuTempNavBar.className = "btn btn-success me-2"
                }
                cpuTemperatureSpan.innerHTML = data.temperature.toFixed(0) + ' &degC'
            }
        })
        .catch(error => {
        console.error('Error getting CPU temperature:', error);
        throw error;  // Re-throw the error for the next catch
        });

    }

    function getBatteryLevel() {

        const batteryLevelNavBar = document.getElementById('batteryLevelNavBar');

        return fetch('/get_battery_level', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: '',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                if (data.battery_level > 0) {
                    if (data.battery_level > 11.5) {
                        batteryLevelNavBar.className = "btn btn-success me-2"
                        batteryLevelI.className = "bi bi-battery-full"
                    } else if (data.battery_level > 10.8) {
                        batteryLevelNavBar.className = "btn btn-warning me-2"
                        batteryLevelI.className = "bi bi-battery-half"
                    } else {
                        batteryLevelNavBar.className = "btn btn-danger me-2"
                        batteryLevelI.className = "bi bi-battery-low"
                    }
                    batteryLevelSpan.innerHTML = data.battery_level.toFixed(1) + ' V'
                }
            }
        })
        .catch(error => {
            console.error('Error getting battery level:', error);
            throw error;  // Re-throw the error for the next catch
        });

    }

    function getSdCardUsage() {

        const sdCardNavBar = document.getElementById('sdCardNavBar');

        return fetch('/get_sd_card_usage', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: '',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                if (data.sd_card_usage < 80) {
                    sdCardNavBar.className = "btn btn-success me-2"
                } else if (data.sd_card_usage < 90) {
                    sdCardNavBar.className = "btn btn-warning me-2"
                    sdCardI.className = "bi bi-sd-card"
                } else {
                    sdCardNavBar.className = "btn btn-danger me-2"
                    sdCardI.className = "bi bi-sd-card-fill"
                }
                sdCardUsageSpan.innerHTML = data.sd_card_usage.toFixed(0) + ' %'
            }
        })
        .catch(error => {
            console.error('Error getting SD card usage:', error);
            throw error;  // Re-throw the error for the next catch
        });

    }

    var intervalId = setInterval(getCpuTemperature, 10000)

    var intervalId2 = setInterval(getBatteryLevel, 60000)

    var intervalId3 = setInterval(getSdCardUsage, 60000)

</script>

{% endblock %}
