{% from 'macros.html' import sd_card_full_modal %}
{% from 'macros.html' import sd_card_full_modal_javascript %}
{% from 'macros.html' import battery_discharged_modal %}
{% from 'macros.html' import battery_discharged_modal_javascript %}

{% extends 'base.html' %}

{% block head %}
<title>Entomoscope - Logs</title>
{% endblock %}

{% block content %}
<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Entomoscope</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('data') }}">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('global_settings') }}">Global Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('images_capture_settings') }}">Images Capture Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('sounds_capture_settings') }}">Sounds Capture Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('logs') }}">Logs</a>
        </li>
      </ul>
    </div>
    <div class="nav pull-right">
        {% if updates_available %}
        <span class="badge bg-success me-2" id="updateNavBar">
            Update available
        </span>
        {% endif %}
        {% if sd_card.used_percent_num < 80 %}
        <span class="badge bg-success me-2" id="sdCardNavBar">
        {% elif sd_card.used_percent_num < 90 %}
        <span class="badge bg-warning me-2" id="sdCardNavBar">
        {% else %}
        <span class="badge bg-danger me-2" id="sdCardNavBar">
        {% endif %}
            SD {{ sd_card.used_percent_num }} %
        </span>
        {% if battery_level > 0 %}
            {% if battery_level > 11.5 %}
            <span class="badge bg-success me-2" id="batteryLevelNavBar">
            {% elif battery_level > 10.8 %}
            <span class="badge bg-warning me-2" id="batteryLevelNavBar">
            {% else %}
            <span class="badge bg-danger me-2" id="batteryLevelNavBar">
            {% endif %}
                BAT {{ '%.1f' % battery_level }} V
            </span>
        {% endif %}
        {% if rpi.cpu_temperature < 65 %}
        <span class="badge bg-success me-2" id="cpuTempNavBar">
        {% elif rpi.cpu_temperature < 75 %}
        <span class="badge bg-warning me-2" id="cpuTempNavBar">
        {% else %}
        <span class="badge bg-danger me-2" id="cpuTempNavBar">
        {% endif %}
            CPU {{ '%.0f' % rpi.cpu_temperature }} &deg;C
        </span>
    </div>
  </div>
</nav>
<!-- Page content -->
<div class="container-fluid">
  <div class="row align-items-start mt-3">
    <!-- Logs -->
    <div class="col-3">
        <!-- File - List -->
        <ul>
        {% if istopdir == false %}
            <li class="data_levelup"><a href="/manage_logs/chdir/up">..</a></li>
        {% endif %}
        {% for file, isdir in zip(files, isdirs) %}
            {% if isdir %}
                <li class="data_folder"><a href="/manage_logs/chdir/{{ file }}" class="data_folder">{{ file }}</a></li>
            {% else %}
                {% if file == logs_current_file %}
                    <li class="data_file"><a href="/manage_logs/show/{{ file }}" class="data_file" style="font-weight: bold">{{ file }}</a></li>
                {% else %}
                    <li class="data_file"><a href="/manage_logs/show/{{ file }}" class="data_file">{{ file }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    <!-- File content -->
    <div class="col-9">
        {% if current_file %}
            <h1 class="text-center">{{ current_file }}</h1>
        {% endif %}
        {% if show_preview_log %}
            <pre style="background-color: #EFF6FF">
<code>{{ log_data }}</code> <!-- Ne pas indenter -->
            </pre>
        {% endif %}
    </div>
  </div>
  {{ sd_card_full_modal(sd_card) }}
  {{ battery_discharged_modal(battery_level) }}
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function() {

        {{ sd_card_full_modal_javascript(sd_card) }}
        {{ battery_discharged_modal_javascript(battery_level) }}

    })

    function getCpuTemperature() {

        const cpuTempNavBar = document.getElementById('cpuTempNavBar')

        return fetch('/get_cpu_temperature', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: '',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                if (data.temperature >= 75) {
                    cpuTempNavBar.className = "badge bg-danger me-2"
                } else if (data.temperature >= 65) {
                    cpuTempNavBar.className = "badge bg-warning me-2"
                } else {
                    cpuTempNavBar.className = "badge bg-success me-2"
                }
                cpuTempNavBar.innerText = 'CPU ' + data.temperature.toFixed(0) + ' °C'
            }
        })
        .catch(error => {
        console.error('Error updating settings:', error);
        throw error;  // Re-throw the error for the next catch
        });

    }

    function getBatteryLevel() {

        const batteryLevelNavBar = document.getElementById('batteryLevelNavBar');

        return fetch('/get_battery_level', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: '',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                if (data.battery_level > 0) {
                    if (data.battery_level > 11.5) {
                        batteryLevelNavBar.className = "badge bg-success me-2"
                    } else if (data.battery_level > 10.8) {
                        batteryLevelNavBar.className = "badge bg-warning me-2"
                    } else {
                        batteryLevelNavBar.className = "badge bg-danger me-2"
                    }
                    batteryLevelNavBar.innerText = 'BAT ' + data.battery_level.toFixed(1) + ' V'
                }
            }
        })
        .catch(error => {
            console.error('Error updating settings:', error);
            throw error;  // Re-throw the error for the next catch
        });

    }


    function getSdCardUsage() {

        const sdCardNavBar = document.getElementById('sdCardNavBar');

        return fetch('/get_sd_card_usage', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: '',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                if (data.sd_card_usage < 80) {
                    sdCardNavBar.className = "badge bg-success me-2"
                } else if (data.sd_card_usage < 90) {
                    sdCardNavBar.className = "badge bg-warning me-2"
                } else {
                    sdCardNavBar.className = "badge bg-danger me-2"
                }
                sdCardNavBar.innerText = 'SD ' + data.sd_card_usage.toFixed(0) + ' %'
            }
        })
        .catch(error => {
            console.error('Error updating settings:', error);
            throw error;  // Re-throw the error for the next catch
        });

    }

    var intervalId = setInterval(function() {
        getCpuTemperature()
    }, 10000);

    var intervalId2 = setInterval(function() {
        getBatteryLevel()
    }, 60000);

    var intervalId3 = setInterval(function() {
        getSdCardUsage()
    }, 60000);

</script>

{% endblock %}
