{% from 'macros.html' import display_configuration_sounds_capture_settings -%}
{% from 'macros.html' import sd_card_full_modal -%}
{% from 'macros.html' import sd_card_full_modal_javascript -%}
{% from 'macros.html' import battery_discharged_modal -%}
{% from 'macros.html' import battery_discharged_modal_javascript -%}
{% from 'macros.html' import ask_modal -%}
{% from 'macros.html' import wait_modal -%}
{% extends 'base.html' %}
{% block head -%}
    <title>Entomoscope - Sounds Capture</title>
{%- endblock -%}
{%- block content %}
<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Entomoscope</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('data') }}">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('storage') }}">Storage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('global_settings') }}">Capture Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('images_capture_settings') }}">Images Capture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('sounds_capture_settings') }}">Sounds Capture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('information') }}">Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logs') }}">Logs</a>
        </li>
      </ul>
    </div>
    <div class="nav pull-right">
        <!-- Update available -->
        {% if updates_available %}
        <button class="btn btn-success me-2" style="pointer-events: none" id="updateNavBar"><i class="bi bi-cloud-download"></i>
            Update available
        </button>
        {% endif %}
        <!-- SD card usage -->
        {% if sd_card.used_percent_num < 80 %}
        <button class="btn btn-success me-2" style="pointer-events: none" id="sdCardNavBar"><i class="bi bi-sd-card" id="sdCardI"></i>
        {% elif sd_card.used_percent_num < 90 %}
        <button class="btn btn-warning me-2" style="pointer-events: none" id="sdCardNavBar"><i class="bi bi-sd-card" id="sdCardI"></i>
        {% else %}
        <button class="btn btn-danger me-2" style="pointer-events: none" id="sdCardNavBar"><i class="bi bi-sd-card-fill" id="sdCardI"></i>
        {% endif %}
             <span class="d-none d-sm-inline" id="sdCardUsageSpan">{{ '%.0f' % sd_card.used_percent_num }} %</span>
        </button>
        <!-- Battery level -->
        {% if battery_level > 0 %}
            {% if battery_level > 11.5 %}
            <button class="btn btn-success me-2" style="pointer-events: none" id="batteryLevelNavBar"><i class="bi bi-battery-full" id="batteryLevelI"></i>
            {% elif battery_level > 10.8 %}
            <button class="btn btn-warning me-2" style="pointer-events: none" id="batteryLevelNavBar"><i class="bi bi-battery-half" id="batteryLevelI"></i>
            {% else %}
            <button class="btn btn-danger me-2" style="pointer-events: none" id="batteryLevelNavBar"><i class="bi bi-battery-low" id="batteryLevelI"></i>
            {% endif %}
                 <span class="d-none d-sm-inline" id="batteryLevelSpan">{{ '%.1f' % battery_level }} V</span>
            </button>
        {% endif %}
        <!-- CPU Temperature -->
        {% if rpi.cpu_temperature < 65 %}
        <button class="btn btn-success me-2" style="pointer-events: none" id="cpuTempNavBar"><i class="bi bi-cpu"></i>
        {% elif rpi.cpu_temperature < 75 %}
        <button class="btn btn-warning me-2" style="pointer-events: none" id="cpuTempNavBar"><i class="bi bi-cpu"></i>
        {% else %}
        <button class="btn btn-danger me-2" style="pointer-events: none" id="cpuTempNavBar"><i class="bi bi-cpu"></i>
        {% endif %}
            <span class="d-none d-sm-inline" id="cpuTemperatureSpan">{{ '%.0f' % rpi.cpu_temperature }} &deg;C</span>
        </button>
        <!-- Reboot -->
        <button class="btn btn-light me-2" id="updateNavBar" onclick="reboot()"><i class="bi bi-bootstrap-reboot"></i></button>
        <!-- Shutdown -->
        <button class="btn btn-danger" id="updateNavBar" onclick="shutdown()"><i class="bi bi-power"></i></button>
    </div>
  </div>
</nav>
<!-- Page content -->
<div class="container-fluid">
    <div class="row align-items-start mt-3">
        <!-- Sounds Capture Test -->
        <div class="col-6 text-center">
            <div class="card">
              <div class="card-body">
                {% if microphone_available == 2 %}
                <h5 class="card-title">Sounds capture test</h5>
                <div class="form-group">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1"><label for="soundCaptureDurationNumber" class="form-label">Capture duration</label></strong>
                    </div>
                    <div class="input-group mb-1">
                        <input type="number" id="soundsCaptureDurationNumber" class="form-control" min="0" max="60" step="1" value="0"/>
                        <div class="input-group-text">seconds</div>
                    </div>
                    <hr/>
                    <div class="form-button-center">
                        <button type="submit" class="btn btn-primary" id="soundsCaptureRunButton" onclick="soundsCaptureTestRun()">Run</button>
                    </div>
                    <p id="saveSoundsPath"></p>
                </div>
                {% elif microphone_available == 1 %}
                <h5 class="card-title">Warning</h5>
                <p class="card-text">Microphone not found.<br/>Check the USB connection and reload this page.</p>
                {% elif microphone_available == 0 %}
                <h5 class="card-title">Warning</h5>
                <p class="card-text">Sounds capture script is running.<br/>Press the stop button and refresh this page to enable the microphone.</p>
                {% endif  %}
              </div>
            </div>
        </div>
        <!-- Sounds Capture Settings -->
        <div class="col-6 col-sm-3 ">
            <div class="accordion" id="accordion">
                <!-- Capture State -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#captureStateCollapse" aria-expanded="false" aria-controls="collapseFour">
                        Capture State
                        </button>
                    </h2>
                    <div id="captureStateCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% if sounds_capture_state == 'running' %}
                            <p class="card-text" id="soundsCaptureStateText">Sounds capture running (click on Pause to pause or Stop to stop)</p>
                            <div class="form-button-center">
                                <button type="submit" class="btn btn-primary" id="suspendSoundsCaptureButton" onclick="manageSoundsCapture('suspend')"><i class="bi bi-pause-fill"></i></button>
                                <button type="submit" class="btn btn-primary" id="resumeSoundsCaptureButton" onclick="manageSoundsCapture('resume')" disabled><i class="bi bi-play-fill"></i></button>
                                <button type="submit" class="btn btn-primary" id="stopSoundsCaptureButton" onclick="manageSoundsCapture('stop')"><i class="bi bi-stop-fill"></i></button>
                            </div>
                            {% elif sounds_capture_state == 'paused' %}
                            <p class="card-text" id="soundsCaptureStateText">Sounds capture paused (click on Resume to resume or Stop to stop)</p>
                            <div class="form-button-center">
                                <button type="submit" class="btn btn-primary" id="suspendSoundsCaptureButton" onclick="manageSoundsCapture('suspend')" disabled><i class="bi bi-pause-fill"></i></button>
                                <button type="submit" class="btn btn-primary" id="resumeSoundsCaptureButton" onclick="manageSoundsCapture('resume')"><i class="bi bi-play-fill"></i></button>
                                <button type="submit" class="btn btn-primary" id="stopSoundsCaptureButton" onclick="manageSoundsCapture('stop')"><i class="bi bi-stop-fill"></i></button>
                            </div>
                            {% else %}
                            <p class="card-text" id="soundsCaptureStateText">Sounds capture stopped (reboot the system to restart)</p>
                            <div class="form-button-center">
                                <button type="submit" class="btn btn-primary" id="suspendSoundsCaptureButton" onclick="manageSoundsCapture('suspend')" disabled><i class="bi bi-pause-fill"></i></button>
                                <button type="submit" class="btn btn-primary" id="resumeSoundsCaptureButton" onclick="manageSoundsCapture('resume')" disabled><i class="bi bi-play-fill"></i></button>
                                <button type="submit" class="btn btn-primary" id="stopSoundsCaptureButton" onclick="manageSoundsCapture('stop')" disabled><i class="bi bi-stop-fill"></i></button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Microphone - Info -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cameraInfoCollapse" aria-expanded="false" aria-controls="collapseFour">
                        Microphone info
                        </button>
                    </h2>
                    <div id="cameraInfoCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <!-- Microphone - Info  - ID -->
                            <div class="form-group">
                                <div class="d-flex w-100 align-items-center justify-content-between">
                                    <strong class="mb-1"><label for="brightness" class="form-label">ID</label></strong>
                                </div>
                                <div class="input-group">
                                  <input type="text" class="form-control" value="{{ microphone_id }}" disabled=True>
                                </div>
                            </div>
                            <!-- Microphone - Info  - Firmware -->
                            <div class="form-group">
                                <div class="d-flex w-100 align-items-center justify-content-between">
                                    <strong class="mb-1"><label for="brightness" class="form-label">Firmware</label></strong>
                                </div>
                                <div class="input-group">
                                  <input type="text" class="form-control" value="{{ microphone_firmware }}" disabled=True>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Microphone Settings-->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Microphone settings
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse">
                      <div class="accordion-body">
                        <!-- Microphone - Sample rate -->
                        <div class="form-group">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1"><label for="brightness" class="form-label">Sample rate</label></strong>
                            </div>
                            <!-- Microphone - Sample rate - 8000 Hz -->
                            <div class="form-check">
                                {% if configuration['microphone']['sample_rate'] == 8000 %}
                                <input class="form-check-input" type="checkbox" id="sampleRate8000" value="8000" onclick="applySampleRate(this.value)" checked />
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="sampleRate8000" value="8000" onclick="applySampleRate(this.value)"/>
                                {% endif %}
                                <label class="form-check-label" for="sampleRate8000">8000 Hz</label>
                            </div>
                            <!-- Microphone - Sample rate - 16000 Hz -->
                            <div class="form-check">
                                {% if configuration['microphone']['sample_rate'] == 16000 %}
                                <input class="form-check-input" type="checkbox" id="sampleRate16000" value="16000" onclick="applySampleRate(this.value)" checked />
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="sampleRate16000" value="16000" onclick="applySampleRate(this.value)"/>
                                {% endif %}
                                <label class="form-check-label" for="sampleRate16000">16000 Hz</label>
                            </div>
                            <!-- Microphone - Sample rate - 32000 Hz -->
                            <div class="form-check">
                                {% if configuration['microphone']['sample_rate'] == 32000 %}
                                <input class="form-check-input" type="checkbox" id="sampleRate32000" value="32000" onclick="applySampleRate(this.value)" checked />
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="sampleRate32000" value="32000" onclick="applySampleRate(this.value)"/>
                                {% endif %}
                                <label class="form-check-label" for="sampleRate32000">32000 Hz</label>
                            </div>
                            <!-- Microphone - Sample rate - 48000 Hz -->
                            <div class="form-check">
                                {% if configuration['microphone']['sample_rate'] == 48000 %}
                                <input class="form-check-input" type="checkbox" id="sampleRate48000" value="48000" onclick="applySampleRate(this.value)" checked />
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="sampleRate48000" value="48000" onclick="applySampleRate(this.value)"/>
                                {% endif %}
                                <label class="form-check-label" for="sampleRate48000">48000 Hz</label>
                            </div>
                            <!-- Microphone - Sample rate - 96000 Hz -->
                            <div class="form-check">
                                {% if configuration['microphone']['sample_rate'] == 96000 %}
                                <input class="form-check-input" type="checkbox" id="sampleRate96000" value="96000" onclick="applySampleRate(this.value)" checked />
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="sampleRate96000" value="96000" onclick="applySampleRate(this.value)"/>
                                {% endif %}
                                <label class="form-check-label" for="sampleRate96000">96000 Hz</label>
                            </div>
                            <!-- Microphone - Sample rate - 192000 Hz -->
                            <div class="form-check">
                                {% if configuration['microphone']['sample_rate'] == 192000 %}
                                <input class="form-check-input" type="checkbox" id="sampleRate192000" value="192000" onclick="applySampleRate(this.value)" checked />
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="sampleRate192000" value="192000" onclick="applySampleRate(this.value)"/>
                                {% endif %}
                                <label class="form-check-label" for="sampleRate192000">192000 Hz</label>
                            </div>
                            <!-- Microphone - Sample rate - 250000 Hz -->
                            <div class="form-check">
                                {% if configuration['microphone']['sample_rate'] == 250000 %}
                                <input class="form-check-input" type="checkbox" id="sampleRate250000" value="250000" onclick="applySampleRate(this.value)" checked />
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="sampleRate250000" value="250000" onclick="applySampleRate(this.value)"/>
                                {% endif %}
                                <label class="form-check-label" for="sampleRate250000">250000 Hz</label>
                            </div>
                            <!-- Microphone - Sample rate - 384000 Hz -->
                            <div class="form-check">
                                {% if configuration['microphone']['sample_rate'] == 384000 %}
                                <input class="form-check-input" type="checkbox" id="sampleRate384000" value="384000" onclick="applySampleRate(this.value)" checked />
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="sampleRate384000" value="384000" onclick="applySampleRate(this.value)"/>
                                {% endif %}
                                <label class="form-check-label" for="sampleRate384000">384000 Hz</label>
                            </div>
                        </div>
                        <!-- Microphone - Gain -->
                        <div class="form-group">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1"><label for="brightness" class="form-label">Gain</label></strong>
                            </div>
                            <!-- Microphone - Gain - Low -->
                            <div class="form-check">
                                {% if configuration['microphone']['gain'] == 0 %}
                                <input class="form-check-input" type="checkbox" id="gainLow" value="0" onclick="applyGain(this.value)" checked />
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="gainLow" value="0" onclick="applyGain(this.value)"/>
                                {% endif %}
                                <label class="form-check-label" for="gainLow">Low</label>
                            </div>
                            <!-- Microphone - Gain - Low-Medium -->
                            <div class="form-check">
                                {% if configuration['microphone']['gain'] == 1 %}
                                <input class="form-check-input" type="checkbox" id="gainLowMedium" value="1" onclick="applyGain(this.value)" checked />
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="gainLowMedium" value="1" onclick="applyGain(this.value)"/>
                                {% endif %}
                                <label class="form-check-label" for="gainLowMedium">Low-Medium</label>
                            </div>
                            <!-- Microphone - Gain - Medium -->
                            <div class="form-check">
                                {% if configuration['microphone']['gain'] == 2 %}
                                <input class="form-check-input" type="checkbox" id="gainMedium" value="2" onclick="applyGain(this.value)" checked />
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="gainMedium" value="2" onclick="applyGain(this.value)"/>
                                {% endif %}
                                <label class="form-check-label" for="gainMedium">Medium</label>
                            </div>
                            <!-- Microphone - Gain - Medium-High -->
                            <div class="form-check">
                                {% if configuration['microphone']['gain'] == 3 %}
                                <input class="form-check-input" type="checkbox" id="gainMediumHigh" value="3" onclick="applyGain(this.value)" checked />
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="gainMediumHigh" value="3" onclick="applyGain(this.value)"/>
                                {% endif %}
                                <label class="form-check-label" for="gainMediumHigh">Medium-High</label>
                            </div>
                            <!-- Microphone - Gain - High -->
                            <div class="form-check">
                                {% if configuration['microphone']['gain'] == 4 %}
                                <input class="form-check-input" type="checkbox" id="gainHigh" value="4" onclick="applyGain(this.value)" checked />
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="gainHigh" value="4" onclick="applyGain(this.value)"/>
                                {% endif %}
                                <label class="form-check-label" for="gainHigh">High</label>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-button-center">
                            <button type="submit" class="btn btn-primary" id="microphoneSettingsSaveButton" onclick="saveMicrophoneSettings()" disabled>Save</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Configuration -->
        <div class="col-3 offset-9 mb-3 d-none d-sm-block" style="background-color: #FFFFFF;position: fixed;height:90%;overflow-y:auto;">
          {{ display_configuration_sounds_capture_settings(configuration) }}
        </div>
    </div>
</div>
<!-- Modals dialog -->
<div class="modal" data-bs-backdrop="static" data-bs-keyboard="false" id="soundsCaptureModalDialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sounds capture in progress</h5>
            </div>
            <div class="modal-body">
                <p>Wait...</p>
            </div>
        </div>
    </div>
</div>
{{ wait_modal() }}
{{ ask_modal() }}
{{ sd_card_full_modal(sd_card) }}
{{ battery_discharged_modal(battery_level) }}
{% endblock %}
{% block script %}
<script type="text/javascript">

    const sdCardUsageSpan = document.getElementById('sdCardUsageSpan');
    const sdCardI = document.getElementById('sdCardI');
    const batteryLevelSpan = document.getElementById('batteryLevelSpan');
    const batteryLevelI = document.getElementById('batteryLevelI');
    const cpuTemperatureSpan = document.getElementById('cpuTemperatureSpan');

    const soundsCaptureDurationNumber = document.getElementById('soundsCaptureDurationNumber');
    const saveSoundsPath = document.getElementById('saveSoundsPath');

    const sampleRate8000 = document.getElementById('sampleRate8000');
    const sampleRate16000 = document.getElementById('sampleRate16000');
    const sampleRate32000 = document.getElementById('sampleRate32000');
    const sampleRate48000 = document.getElementById('sampleRate48000');
    const sampleRate96000 = document.getElementById('sampleRate96000');
    const sampleRate192000 = document.getElementById('sampleRate192000');
    const sampleRate250000 = document.getElementById('sampleRate250000');
    const sampleRate384000 = document.getElementById('sampleRate384000');

    const gainLow = document.getElementById('gainLow');
    const gainLowMedium = document.getElementById('gainLowMedium');
    const gainMedium = document.getElementById('gainMedium');
    const gainMediumHigh = document.getElementById('gainMediumHigh');
    const gainHigh = document.getElementById('gainHigh');

    const microphoneSettingsSaveButton = document.getElementById('microphoneSettingsSaveButton');

    const sampleRateConfigurationText = document.getElementById('sampleRateConfigurationText');
    const gainConfigurationText = document.getElementById('gainConfigurationText');

    const soundsCaptureModalDialog = document.getElementById('soundsCaptureModalDialog');

    // Modals
    const askModalDialog = document.getElementById('askModalDialog');
    var askModal = new bootstrap.Modal(askModalDialog)
    const askTitle = document.getElementById('askTitle');
    const askParagraph = document.getElementById('askParagraph');

    const waitModalDialog = document.getElementById('waitModalDialog');
    var waitModal = new bootstrap.Modal(waitModalDialog)
    const waitTitle = document.getElementById('waitTitle');
    const waitParagraph = document.getElementById('waitParagraph');

    var powerAction = null

    document.addEventListener("DOMContentLoaded", function() {

        {{ sd_card_full_modal_javascript(sd_card) }}
        {{ battery_discharged_modal_javascript(battery_level) }}

    })

    function manageSoundsCapture(action) {

        if (action == 'stop') {
            waitTitle.innerText = 'Stopping images and sounds capture'
            waitParagraph.innerText = 'Wait 5 seconds...'
            waitModal.show()
        }

        return fetch('/manage_sounds_capture', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(action),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log('Settings updated:', data);
                if (action == 'suspend') {
                    suspendSoundsCaptureButton.disabled = true
                    resumeSoundsCaptureButton.disabled = false
                    soundsCaptureStateText.innerText  = 'Sounds capture paused (click on Resume to resume or Stop to stop)'
                } else if  (action == 'resume') {
                    suspendSoundsCaptureButton.disabled = false
                    resumeSoundsCaptureButton.disabled = true
                    soundsCaptureStateText.innerText  = 'Sounds capture running (click on Pause to pause or Stop to stop)'
                } else {
                    suspendSoundsCaptureButton.disabled = true
                    resumeSoundsCaptureButton.disabled = true
                    stopSoundsCaptureButton.disabled = true
                    soundsCaptureStateText.innerText  = 'Sounds capture stopped (reboot the system to restart)'
                }
            }
            if (action == 'stop') {
                waitModal.hide()
            }
        })
        .catch(error => {
        console.error('Error managing sound capture:', error);
        throw error;  // Re-throw the error for the next catch
        });

    }

    function reboot() {

        powerAction = 'reboot'

        askTitle.innerText = 'Reboot'
        askParagraph.innerText = 'Do you really want to reboot?'

        askModal.show()

    }

    function shutdown() {

        powerAction = 'shutdown'

        askTitle.innerText = 'Shutdown'
        askParagraph.innerText = 'Do you really want to shutdown?'

        askModal.show()

    }

    function actionOk() {

        askModal.hide()

        if (powerAction == 'reboot') {
            return fetch('/reboot', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(name),
            })
            .catch(error => {
                console.error('Error reboot: ', error);
                throw error;  // Re-throw the error for the next catch
            });
        }
        else if (powerAction == 'shutdown') {
            return fetch('/shutdown', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(name),
            })
            .catch(error => {
                console.error('Error shutdown: ', error);
                throw error;  // Re-throw the error for the next catch
            });
        }
    }

    function soundsCaptureTestRun() {

        var myModal = new bootstrap.Modal(soundsCaptureModalDialog)

        test_duration = soundsCaptureDurationNumber.value

        console.log(test_duration)

        if (test_duration > 0) {

            myModal.show()

            return fetch('/sounds_capture_test', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(test_duration),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log('Sound test captured', data);
                    saveSoundsPath.innerText = 'Sounds saved to ' + data.data
                    myModal.hide()
                } else {
                    console.log('Sound test not captured', data);
                    myModal.hide()
                }
            })
            .catch(error => {
            console.error('Error updating settings:', error);
            throw error;  // Re-throw the error for the next catch
            });

        }

    }

    function applyGain(value) {

        gainLow.checked = false
        gainLowMedium.checked = false
        gainMedium.checked = false
        gainMediumHigh.checked = false
        gainHigh.checked = false

        if (value == 0) {
            gainLow.checked = true
        } else if (value == 1) {
            gainLowMedium.checked = true
        } else if (value == 2) {
            gainMedium.checked = true
        } else if (value == 3) {
            gainMediumHigh.checked = true
        } else if (value == 4) {
            gainHigh.checked = true
        }

        microphoneSettingsSaveButton.disabled = false

    }

    function applySampleRate(value) {

        sampleRate8000.checked = false
        sampleRate16000.checked = false
        sampleRate32000.checked = false
        sampleRate48000.checked = false
        sampleRate96000.checked = false
        sampleRate192000.checked = false
        sampleRate250000.checked = false
        sampleRate384000.checked = false

        if (value == 8000) {
            sampleRate8000.checked = true
        } else if (value == 16000) {
            sampleRate16000.checked = true
        } else if (value == 32000) {
            sampleRate32000.checked = true
        } else if (value == 48000) {
            sampleRate48000.checked = true
        } else if (value == 96000) {
            sampleRate96000.checked = true
        } else if (value == 192000) {
            sampleRate192000.checked = true
        } else if (value == 250000) {
            sampleRate250000.checked = true
        } else if (value == 384000) {
            sampleRate384000.checked = true
        }

        microphoneSettingsSaveButton.disabled = false

    }

    function saveMicrophoneSettings() {

        microphoneSettingsSaveButton.disabled = true

        if (sampleRate8000.checked) {
            sample_rate = 8000
        } else if (sampleRate16000.checked) {
            sample_rate = 16000
        } else if (sampleRate32000.checked) {
            sample_rate = 32000
        } else if (sampleRate48000.checked) {
            sample_rate = 48000
        } else if (sampleRate96000.checked) {
            sample_rate = 96000
        } else if (sampleRate192000.checked) {
            sample_rate = 192000
        } else if (sampleRate250000.checked) {
            sample_rate = 250000
        } else if (sampleRate384000.checked) {
            sample_rate = 384000
        }

        if (gainLow.checked) {
            gain = 0
        } else if (gainLowMedium.checked) {
            gain = 1
        } else if (gainMedium.checked) {
            gain = 2
        } else if (gainMediumHigh.checked) {
            gain = 3
        } else if (gainHigh.checked) {
            gain = 4
        }

        data = [sample_rate, gain]

        return fetch('/save_microphone_settings', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Settings updated:', data);
            if (data.success) {
                sampleRateConfigurationText.innerText = 'Sample rate: ' + sample_rate  + ' Hz'
                if (gain == 0) {
                    gainConfigurationText.innerText = 'Gain: low'
                } else if (gain == 1) {
                    gainConfigurationText.innerText = 'Gain: low-medium'
                } else if (gain == 2) {
                    gainConfigurationText.innerText = 'Gain: medium'
                } else if (gain == 3) {
                    gainConfigurationText.innerText = 'Gain: medium-high'
                } else if (gain == 4) {
                    gainConfigurationText.innerText = 'Gain: high'
                }
            }
            microphoneSettingsSaveButton.disabled = false
        })
        .catch(error => {
        console.error('Error updating settings:', error);
        throw error;  // Re-throw the error for the next catch
        });
    }

    function getCpuTemperature() {

        const cpuTempNavBar = document.getElementById('cpuTempNavBar')

        return fetch('/get_cpu_temperature', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: '',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                if (data.temperature >= 75) {
                    cpuTempNavBar.className = "btn btn-danger me-2"
                } else if (data.temperature >= 65) {
                    cpuTempNavBar.className = "btn btn-warning me-2"
                } else {
                    cpuTempNavBar.className = "btn btn-success me-2"
                }
                cpuTemperatureSpan.innerHTML = data.temperature.toFixed(0) + ' &degC'
            }
        })
        .catch(error => {
        console.error('Error getting CPU temperature:', error);
        throw error;  // Re-throw the error for the next catch
        });

    }

    function getBatteryLevel() {

        const batteryLevelNavBar = document.getElementById('batteryLevelNavBar');

        return fetch('/get_battery_level', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: '',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                if (data.battery_level > 0) {
                    if (data.battery_level > 11.5) {
                        batteryLevelNavBar.className = "btn btn-success me-2"
                        batteryLevelI.className = "bi bi-battery-full"
                    } else if (data.battery_level > 10.8) {
                        batteryLevelNavBar.className = "btn btn-warning me-2"
                        batteryLevelI.className = "bi bi-battery-half"
                    } else {
                        batteryLevelNavBar.className = "btn btn-danger me-2"
                        batteryLevelI.className = "bi bi-battery-low"
                    }
                    batteryLevelSpan.innerHTML = data.battery_level.toFixed(1) + ' V'
                }
            }
        })
        .catch(error => {
            console.error('Error getting battery level:', error);
            throw error;  // Re-throw the error for the next catch
        });

    }

    function getSdCardUsage() {

        const sdCardNavBar = document.getElementById('sdCardNavBar');

        return fetch('/get_sd_card_usage', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: '',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                if (data.sd_card_usage < 80) {
                    sdCardNavBar.className = "btn btn-success me-2"
                } else if (data.sd_card_usage < 90) {
                    sdCardNavBar.className = "btn btn-warning me-2"
                    sdCardI.className = "bi bi-sd-card"
                } else {
                    sdCardNavBar.className = "btn btn-danger me-2"
                    sdCardI.className = "bi bi-sd-card-fill"
                }
                sdCardUsageSpan.innerHTML = data.sd_card_usage.toFixed(0) + ' %'
            }
        })
        .catch(error => {
            console.error('Error getting SD card usage:', error);
            throw error;  // Re-throw the error for the next catch
        });

    }

    var intervalId = setInterval(function() {
        getCpuTemperature()
    }, 10000);

    var intervalId2 = setInterval(function() {
        getBatteryLevel()
    }, 60000);

    var intervalId3 = setInterval(function() {
        getSdCardUsage()
    }, 60000);

</script>
{% endblock %}
